/** IMPORTS **/
@import '/scss/variables.scss';
// @import '/scss/pc/general.scss';

@import '/scss/pc/homepage/homepage';

@import '/scss/pc/brand/brand.scss';
@import '/scss/pc/brand/detail.scss';

@import '/scss/pc/car/car.scss';
@import '/scss/pc/car/detail.scss';

@import '/scss/pc/community/blog.scss';
@import '/scss/pc/community/detail.scss';

#pc-wrap {
	#top {
		.navbar {
			&.active_scroll {
				.navbar-main {
					background: #ff7101;
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
					transition: all 0.3s ease-in-out;
				}
			}

			.navbar-main {
				width: 100%;
				height: 85px;
				position: fixed;
				top: 0;
				left: 0;
				padding: 22px 0px;
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				z-index: 99;
				align-items: center;

				.container {
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					.logo-box {
						width: 225px;
						height: 40px;
						display: flex;
						justify-content: space-between;
						flex-direction: row;

						.logo {
							display: flex;
							justify-content: space-between;
							flex-direction: row;
							gap: 20px;
							align-items: center;

							img {
								width: 40px;
								height: 40px;
								cursor: pointer;
							}
							span {
								color: #fff;
								font-family: $font;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
								line-height: 25px;
							}
						}
					}

					.router-box {
						position: relative;
						width: 617px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;

						div {
							position: relative;
							color: #eeeeeeed;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							cursor: pointer;

							.community_menu {
								position: absolute;
								left: -177%;
								top: 30px;
								width: 434px;
								height: 33px;
								background: white;
								transition: all ease 2s;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: 0;
									right: 50%;
									width: 10px;
									height: 10px;
									background: white;
									transform: translateY(-50%) rotate(45deg);
									z-index: 0;
								}
							}
						}
					}

					.user-box {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						align-items: center;
						gap: 20px;

						.like {
							color: white;
							font-size: 28px;
							cursor: pointer;
						}

						.divider {
							width: 1px;
							height: 20px;
							background: white;
						}

						.login-user {
							display: flex;
							align-items: center;
							gap: 10px;
							cursor: pointer;

							img {
								width: 24px;
								height: 24px;
							}

							span {
								color: #fff;
								font-family: $font;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 23px;
							}
						}
					}
				}
			}
		}
	}

	#top-full {
		.navbar {
			&.active_scroll {
				.navbar-main {
					background: #ff7101;
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
					transition: all 0.3s ease-in-out;
				}
			}

			.navbar-main {
				width: 100%;
				height: 85px;
				position: fixed;
				top: 0;
				left: 0;
				padding: 22px 0px;
				display: flex;
				flex-direction: row;
				box-sizing: border-box;
				z-index: 99;
				align-items: center;
				background: #fff;
				box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);

				.container {
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					.logo-box {
						width: 225px;
						height: 40px;
						display: flex;
						justify-content: space-between;
						flex-direction: row;

						.logo {
							display: flex;
							justify-content: space-between;
							flex-direction: row;
							gap: 20px;
							align-items: center;

							img {
								width: 40px;
								height: 40px;
								cursor: pointer;
							}
							span {
								color: #000;
								font-family: $font;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
								line-height: 25px;
							}
						}
					}

					.router-box {
						position: relative;
						width: 617px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;

						div {
							position: relative;
							color: #000;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							cursor: pointer;

							.community_menu {
								position: absolute;
								left: -177%;
								top: 30px;
								width: 434px;
								height: 33px;
								background: white;
								transition: all ease 2s;
								&:before {
									content: '';
									display: block;
									position: absolute;
									top: 0;
									right: 50%;
									width: 10px;
									height: 10px;
									background: white;
									transform: translateY(-50%) rotate(45deg);
									z-index: 0;
								}
							}
						}
					}

					.user-box {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						align-items: center;
						gap: 20px;

						.like {
							color: #000;
							font-size: 28px;
							cursor: pointer;
						}

						.divider {
							width: 1px;
							height: 20px;
							background: #000;
						}

						.login-user {
							display: flex;
							align-items: center;
							gap: 10px;
							cursor: pointer;

							.user {
								width: 28px;
								height: 28px;
							}

							span {
								color: #000;
								font-family: $font;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 23px;
							}
						}
					}
				}
			}
		}
	}

	.header-main {
		position: relative;
		width: 100%;
		height: 860px;
		background-image: url('/img/cars/header1.jpg');
		background-size: cover;

		.container {
			position: relative;
			margin-top: 20px;
			flex-direction: column;
			align-items: center;

			.header-box {
				width: 100%;
				height: 100%;
				position: relative;
				display: flex;
				flex-direction: column;

				.header-text {
					width: 500px;
					height: 300px;
					display: inline-flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 30px;
					margin-top: 150px;

					.bold {
						color: #fff;
						font-family: $font;
						font-size: 70px;
						font-style: normal;
						font-weight: 600;
						line-height: 70px;
					}

					.short {
						color: #fff;
						font-family: $font;
						font-size: 20px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;
					}

					.detail {
						display: flex;
						width: 204px;
						height: 50px;
						justify-content: center;
						align-items: center;
						gap: 10px;
						flex-shrink: 0;
						border-radius: 14px;
						background: #fff;
						cursor: pointer;

						p {
							color: #24272c;
							font-family: $font;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}

				.search-box {
					position: relative;
					width: 1290px;
					height: 60px;
					margin-top: 186px;
					padding: 16px 29px;
					display: flex;
					align-items: center;
					flex-direction: column;
					gap: 20px;

					.select-box {
						width: 1200px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						padding: 22px;
						align-items: center;
						gap: 10px;
						border-radius: 16px;
						background: #fff;
						box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.08);

						.box {
							padding: 24px 22px;
							width: 200px;
							height: 50px;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;
							border-radius: 14px;
							border: 1px solid #ededed;
							padding: 10px 16px;
							flex: 1 0 0;
							cursor: pointer;

							&.on {
								background: #ffffff;
								border: 1px solid #000;
								color: #181a20;
							}

							span {
								color: #181a20;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
							}
							svg {
								width: 20px;
								height: 20px;
								fill: currentColor;
							}
						}

						.search-btn {
							width: 200px;
							height: 50px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 14px;
							background: #ff7101;
							margin-left: 12px;
							gap: 10px;
							cursor: pointer;

							span {
								color: #fff;
								font-family: $font;
								font-size: 16px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
							}

							.btn {
								width: 24px;
								height: 24px;
								color: #ffffff;
								align-items: center;
							}
						}
					}

					.search-logo {
						width: 700px;
						height: 40px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						position: relative;
						gap: 10px;
						backdrop-filter: blur(2px);

						.logo {
							width: auto;
							display: flex;
							padding: 6px 16px;
							align-items: center;
							gap: 6px;
							border-radius: 16px;
							background: rgba(16, 16, 16, 0.1);
							cursor: pointer;

							img {
								width: 26px;
								height: 26px;
							}

							span {
								color: #fff;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 20px;
							}
						}
					}
				}
			}
		}
	}

	.header-basic {
		position: relative;
		width: 100%;
		height: 557px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background: black;
		&.auth {
			height: 300px;
		}
		.container {
			margin-top: 175px;
			strong {
				color: #fff;
				font-family: $font;
				font-size: 48px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				letter-spacing: 0.96px;
				text-transform: capitalize;
			}
			span {
				color: #fff;
				font-family: $font;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 26px;
			}
		}
	}

	#footer {
		position: relative;
		padding: 40px 0px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		background: #24272c;
		gap: 40px;
		align-self: stretch;
		align-items: center;

		.footer-container {
			width: 1300px;
			height: auto;
			margin: 0 auto;
			align-items: center;
			gap: 40px;

			.divider {
				width: 1290px;
				height: 1px;
				opacity: 0.06;
				background: #fff;
			}

			.footer-top {
				width: 100%;
				height: 70px;
				display: flex;
				justify-content: space-between;
				gap: 30px;
				flex-direction: row;

				.top {
					width: 300px;
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					gap: 30px;

					.icon {
						width: 70px;
						height: 70px;
						flex-shrink: 0;
					}

					.text {
						width: 200px;
						height: 50px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						gap: 6px;

						h5 {
							align-self: stretch;
							color: #fff;
							font-family: $font;
							font-size: 18px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

						span {
							align-self: stretch;
							color: #fff;
							font-family: $font;
							font-size: 13px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
						}
					}
				}
			}

			.footer-main {
				width: 1290px;
				height: 275px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;

				.main {
					width: 300px;
					height: 100%;
					display: flex;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 20px;

					h3 {
						color: #fff;
						font-family: $font;
						font-size: 20px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}

					.info {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 10px;
						opacity: 0.5;

						span {
							color: #fff;
							font-family: $font;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 22px;
							cursor: pointer;
						}
					}

					.email {
						width: 300px;
						height: 176px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						gap: 18px;
						align-self: stretch;

						p {
							align-items: stretch;
							color: #fff;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 300;
							line-height: 20px;
						}

						.form {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 18px;
							align-self: stretch;

							input {
								display: flex;
								height: 50px;
								padding: 20px;
								align-items: center;
								gap: 8px;
								align-self: stretch;
								border-radius: 14px;
								background: rgba(255, 255, 255, 0.07);
								color: #fff;
							}

							button {
								display: flex;
								height: 50px;
								justify-content: center;
								align-items: center;
								gap: 10px;
								align-self: stretch;
								border-radius: 14px;
								background: #ff7101;
								cursor: pointer;

								p {
									color: #fff;
									font-family: $font;
									font-size: 16px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
								}
							}
						}
					}
				}
			}

			.footer-end {
				width: 1294px;
				height: 45px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 10px;

				.logo-box {
					width: 685px;
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					gap: 10px;
					cursor: pointer;

					img {
						width: 40px;
						height: 40px;
						cursor: pointer;
					}
					span {
						color: #fff;
						font-family: $font;
						font-size: 30px;
						font-style: normal;
						font-weight: 500;
						line-height: 26px;
					}
				}

				.info-social {
					width: 685px;
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: center;
					gap: 30px;

					span {
						color: #fff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px;
					}

					.media-box {
						width: 300px;
						height: 100%;
						display: inline-flex;
						align-items: flex-start;
						gap: 12px;
						align-items: center;
						justify-content: space-between;

						.icon {
							width: 40px;
							height: 40px;
							color: #fff;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
