#pc-wrap {
	#brand-list-page {
		background: #fff;

		.container {
			width: 1320px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;

			.brand-grid {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 20px;
				padding: 20px;
			}

			.car-box {
				width: 100%;
				height: 480px;
				display: flex;
				flex-direction: column;
				background-color: #fff;
				border: 1px solid #afafaf;
				border-radius: 10px;
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
				overflow: hidden;
				cursor: pointer;

				.car-img {
					width: 100%;
					height: 300px;
					display: block;
					overflow: hidden;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				.car-info {
					display: flex;
					flex-direction: column;
					background-color: #f9f9f9;
					padding: 10px;
					height: 180px;

					.main-info {
						flex: 1;
						display: flex;
						flex-direction: column;

						.main-stage {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding-bottom: 5px;
							border-bottom: 1px solid #ccc;

							.car-name div {
								font-family: 'Montserrat', sans-serif;
								font-size: 22px;
								font-weight: 600;
								color: #007acc;
								letter-spacing: 1px;
							}

							.like-button {
								width: 35px;
								height: 35px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 50%;
								background-color: #ff7101;
								cursor: pointer;

								.like-icon {
									color: white;
									transition: 0.3s ease;
								}
							}
						}

						.second-stage {
							margin-top: 8px;
							display: flex;
							flex-direction: column;
							gap: 6px;

							.car-location,
							.car-contact {
								font-family: 'Open Sans', sans-serif;
								font-size: 15px;
								font-weight: 500;
								color: #333;
							}
						}
					}

					.rating-info {
						display: flex;
						align-items: center;
						padding: 10px 0;
						border-top: 1px solid #ccc;

						.rating {
							width: 120px;
							font-size: 16px;
							font-weight: 500;
						}

						.rating-meta {
							margin-left: auto;
							display: flex;
							align-items: center;
							gap: 10px;

							.divider {
								width: 1px;
								height: 25px;
								background-color: #aaa;
							}

							.like,
							.view {
								display: flex;
								align-items: center;
								gap: 5px;

								.like-count,
								.view-count {
									font-family: 'Open Sans', sans-serif;
									font-size: 14px;
									font-weight: 600;
									color: #333;
								}

								.mui-icon {
									color: #666;
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}
